form{
    margin: 1em 25%;
    font-family: Arial;
    font-size: 9.5px;
    font-weight: normal ; 
    line-height: 12px;
    color: green;
    padding: 1em 3em;	
    width: 35%;
}

.button-login {
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:2px solid blue;
    width:150px; 
    height:25px;
    box-shadow: 3px 3px 2px #888888;	
}
