.registro-usuario-wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    width: 150px;
    display: block;
}

.form-textfield {
    width: 150px;
    text-align: center;
}

.form-dv {
    width: 20px;
    text-align: center;
}

.submit-button {
    display: block;
    margin-top: 15px;
}